/* ProductPage.module.css */

.productPage {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .productContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .productImage {
    border-radius: 8px;
    margin-bottom: 20px;
    object-fit: cover;
    width: 500px; /* Adjusted width */
    height: auto; /* Keep aspect ratio */
  }
  
  .productDetails {
    text-align: center;
  }
  
  .productName {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0;
    color: black
  }
  
  .productDescription {
    font-size: 1.1rem;
    margin: 10px 0;
    color: #666;
  }
  
  .productPrice {
    font-size: 1.5rem;
    color: #0070f3;
    margin: 10px 0;
  }
  
  .productCategory {
    font-size: 1rem;
    color: #555;
    margin: 10px 0;
  }
  
  .productDates {
    font-size: 0.9rem;
    color: #aaa;
    margin: 10px 0;
  }
  